@import 'mdb-react-ui-kit/dist/css/mdb.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

.placeCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  place-items: center;
}
