@import 'mdb-react-ui-kit/dist/css/mdb.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('../images/gerson-repreza-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
