@import 'mdb-react-ui-kit/dist/css/mdb.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('../images/gerson-repreza-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

main {
  height: 85vh;
}

header {
  height: 10vh;
}

footer {
  height: 10vh;
}

/* main scrollbar styling to thin */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #332d2d;
  opacity: 0.3;
  /* border-radius: 100px; */
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100px;
}
